<div class="flex items-center justify-center min-h-screen">
    <div class="shadow-lg rounded-lg p-6 w-full max-w-md">
        <h2 class="text-2xl font-semibold text-center mb-4">Register</h2>

        <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" class="flex flex-col gap-4">
            <div>
                <p-iftalabel>
                    <input pInputText id="firstName" formControlName="firstName" autocomplete="off" class="w-full" />
                    <label for="firstName">First Name</label>
                </p-iftalabel>
                @if (registerForm.get('firstName')?.invalid && registerForm.get('firstName')?.touched) {
                    <small class="text-red-500">
                        First name is required and must be less than 50 characters.
                    </small>
                }

            </div>

            <div>
                <p-iftalabel>
                    <input pInputText id="lastName" formControlName="lastName" autocomplete="off" class="w-full" />
                    <label for="firstName">Last Name</label>
                </p-iftalabel>
                @if (registerForm.get('lastName')?.invalid && registerForm.get('lastName')?.touched) {
                    <small class="text-red-500">
                        Last name is required and must be less than 50 characters.
                    </small>
                }

            </div>

            <div>
                <p-iftalabel>
                    <input pInputText id="email" formControlName="email" autocomplete="off" class="w-full" />
                    <label for="firstName">Email</label>
                </p-iftalabel>
                @if (registerForm.get('email')?.invalid && registerForm.get('email')?.touched) {
                    <small class="text-red-500">
                        A valid email address is required.
                    </small>
                }

            </div>

            <div>
                <p-iftalabel>
                    <p-password
                            id="password"
                            formControlName="password"
                            class="w-full"
                            [inputStyleClass]="'w-full'"
                            [styleClass]="'w-full'"
                            [toggleMask]="true"
                            [feedback]="false"
                    ></p-password>
                    <label for="password">Password</label>
                </p-iftalabel>
                @if (registerForm.get('password')?.invalid && registerForm.get('password')?.touched) {
                    <small class="text-red-500">
                        Password must be 8-100 characters and include uppercase, lowercase, number, and special character.
                    </small>
                }

            </div>

            <div>
                <p-iftalabel>
                    <p-dropdown
                            id="role"
                            formControlName="role"
                            [options]="roleOptions"
                            class="w-full"
                            placeholder="Select a role"
                    ></p-dropdown>
                    <label for="role">Role</label>
                </p-iftalabel>

                @if (registerForm.get('role')?.invalid && registerForm.get('role')?.touched) {
                    <small class="text-red-500">
                        Role is required.
                    </small>
                }

            </div>

            <p-button
                    type="submit"
                    label="Register"
                    [disabled]="registerForm.invalid || loading"
            ></p-button>

            @if (errorMessage) {
                <p class="text-red-500 text-sm mt-2">
                    {{ errorMessage }}
                </p>
            }

            <p-button
                    styleClass="!flex ml-auto"
                    text="true"
                    label="Go to Login"
                    routerLink="/login">
            </p-button>

        </form>
    </div>
</div>